@model InternetShop.Models.ViewModel.GameVM

<form method="post">
    <div class="border p-3">
        <input asp-for="Game.Id" hidden />
        <div class="form-group row">
            <h2 class="text-info pl-3">Редактировать запись</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Game.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Game.Name" class="form-control" />
                        <span asp-validation-for="Game.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Game.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Game.Price" class="form-control" type="number" />
                        <span asp-validation-for="Game.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Game.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Game.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Game.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Изображение
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Game.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Game.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option disabled selected>--Выбор категории--</option>
                        </select>
                        <span asp-validation-for="Game.CategoryId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Game.PublisherId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Game.PublisherId" asp-items="@Model.PublisherSelectList" class="form-control">
                            <option disabled selected>--Выбор издателя--</option>
                        </select>
                        <span asp-validation-for="Game.PublisherId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="Редактировать" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">
                                <i class="fa-solid fa-right-from-bracket"></i> Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="@WebConst.ImagePath@Model.Game.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
<script src="~/js/Scripts.js"></script>
}




