@model IEnumerable<InternetShop.Models.Category>
<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список категорий</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Добавить новую категорию
            </a>
        </div>
    </div>
    <br /><br />
    @if(Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Название категории</th>
                    <th>Display Order</th>
                </tr>
            </thead>
            @foreach(var item in Model)
            {
                <tr>
                    <th width="50%">@item.Name</th>
                    <th width="30%">@item.DisplayOrder</th>
                    <th class="w-75">
                        <a asp-controller="Category"  asp-route-Id="@item.Id" asp-action="Edit" class="btn btn-primary mx-2">
                            Редактировать
                        </a>
                        <a asp-controller="Category" asp-route-Id="@item.Id" asp-action="Delete" class="btn btn-danger m-2">
                            Удалить
                        </a>
                    </th>
                </tr>           
            }
        </table>
    }
    else
    {
        <p>Категории не существует</p>     
    }
</div>



